.select-wrapper {
  display: block;
  position: absolute; }
  .select-wrapper .select-content {
    display: block;
    max-height: 200px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    overflow: auto;
    -webkit-box-shadow: 2px 4px 12px 0px #D9D9D9;
    -moz-box-shadow: 2px 4px 12px 0px #D9D9D9;
    box-shadow: 2px 4px 12px 0px #D9D9D9; }
    .select-wrapper .select-content .select-options {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      overflow-y: auto;
      overflow-x: hidden; }
      .select-wrapper .select-content .select-options .select-option-item {
        display: block;
        min-width: 80px;
        height: 32px;
        line-height: 32px;
        margin: 0;
        list-style: none;
        font-size: 12px;
        padding: 0 8px;
        text-align: left;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .select-wrapper .select-content .select-options .select-option-item.item-active {
          background-color: #007bff !important;
          color: #fff; }
        .select-wrapper .select-content .select-options .select-option-item.item-disabled {
          background-color: #fff !important;
          color: #ccc !important;
          pointer-events: none; }
        .select-wrapper .select-content .select-options .select-option-item:hover {
          background-color: #ecf5ff;
          cursor: pointer; }

.select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  position: relative;
  font-size: 0; }
  .select > select {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .select * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .select .select-inner {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    width: 140px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    padding: 0 8px;
    color: #666; }
    .select .select-inner:after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      right: 8px;
      margin-top: -6px;
      width: 12px;
      height: 12px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAhklEQVQoU5WR0Q2DMAxEXzZgpHaCwgbtBjfKbVCYADpBV2IElApQCgEUf0Wxz/dsBwojFNZTLpB0Ayrbw5mbpBoYw/zogZftNieS9ATeQPNDSj52om1unSHtsuDl3P+GlhSRHsB9RvsCnW0tqLstJaJY87Ed+dfIrlWSY0Xa+dDh6pDFh5sA44wxPQT6sjQAAAAASUVORK5CYII=");
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: center center; }
  .select.select-open .select-inner {
    border-color: #007bff; }
    .select.select-open .select-inner:after {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAhElEQVQoU62R0Q3CMBBDXzZgpI5QNqAbuJt4g3aDMgIjsQHo1LRKQ0GKRH7Pz/blEo0vNeo5BSQZeNkea8MPQNIM9Fm42B5K6AAU4i6LHsAB2gFJN2ACrrbvAUiKpAUYbEfyukMh3gdbjXqWzlzqRcv0AKLvZavx7Zuz8fM/d/h1zOaEN6BrMj1hQmfgAAAAAElFTkSuQmCC"); }
  .select.select-disabled {
    cursor: not-allowed; }
    .select.select-disabled .select-inner {
      pointer-events: none;
      cursor: not-allowed;
      border-color: #D9D9D9;
      background-color: #F5F7FA; }
  .select.select-xs .select-inner {
    height: 28px;
    line-height: 26px;
    font-size: 12px; }
  .select.select-sm .select-inner {
    height: 32px;
    line-height: 30px;
    font-size: 12px; }
  .select.select-df .select-inner {
    height: 36px;
    line-height: 34px;
    font-size: 14px; }
  .select.select-lg .select-inner {
    height: 40px;
    line-height: 38px;
    font-size: 14px; }

/*# sourceMappingURL=select.css.map */
